.content {
  display: flex;
  flex-wrap: wrap;
  padding: 8px 16px;
  justify-content: center;
}
.item {
  margin: 8px 0;
  label {
    vertical-align: middle;
    display: inline-block;
    margin-right: 16px;
    width: 80px;
    text-align: justify;
    text-align-last: justify;
    display: inline-block;
    font-weight: 300;
    color: #555;
  }
  & > span {
    display: inline-block;
    width: 200px;
    vertical-align: middle;
  }
}
.submit {
  margin: 8px 0;
  display: flex;
  justify-content: center;
  width: 100%;
}