.button {
  border: none;
  margin: 0 var(--horen-gap-sm);
  color: var(--horen-color-white);
  border-radius: var(--horen-radius-sm);
  &:active {
    position: relative;
    top: 2px;
    transition: top var(--horen-duration-fast) ease-in-out;
  }
  &:disabled {
    background-color: var(--horen-color-gray-0);
    cursor: not-allowed;
    color: var(--horen-color-dark);
    &:active {
      position: static;
    }
  }
}

.sm {
  .button();
  font-size: var(--horen-font-size-xs);
  padding: var(--horen-gap-sm) var(--horen-gap-md);
}

.md {
  .button();
  padding: var(--horen-gap-sm) var(--horen-gap-md);
  font-size: var(--horen-font-size-sm);
}

.lg {
  .button();
  padding: var(--horen-gap-md) var(--horen-gap-lg);
  font-size: var(--horen-font-size-md);
}

.primary {
  .button();
  background-color: var(--horen-color-primary);
}
.secondary {
  .button();
  background-color: var(--horen-color-warning);
}
.success {
  .button();
  background-color: var(--horen-color-success);
}
.warning {
  .button();
  background-color: var(--horen-color-warning);
}
.dark {
  .button();
  background-color: var(--horen-color-dark);
}
.light {
  .button();
  background-color: var(--horen-color-gray-2);
  color: var(--horen-color-dark);
}
.danger {
  .button();
  background-color: var(--horen-color-danger);
}
.line {
  .button();
  border: 1px solid var(--horen-color-dark);
  color: var(--horen-color-dark);
  background-color: var(--horen-color-white);
}