.button {
  display: inline-block;
  border: none;
  margin: 0 var(--horen-gap-sm);
  height: var(--horen-size-xxl);
  line-height: var(--horen-size-xxl);
  color: var(--horen-color-white);
  border-radius: var(--horen-radius-lg);
  &:active {
    position: relative;
    top: 2px;
    transition: top var(--horen-duration-fast) ease-in-out;
  }
  &:disabled {
    background-color: var(--horen-color-gray-0);
    cursor: not-allowed;
    color: var(--horen-color-dark);
    &:active {
      position: static;
    }
  }
}

.sm {
  font-size: var(--horen-font-size-xs);
  padding: 0 var(--horen-gap-lg);
}

.md {
  padding: 0 var(--horen-gap-xl);
  font-size: var(--horen-font-size-sm);
}

.lg {
  padding: 0 var(--horen-gap-xxl);
  height: var(--horen-size-xxxl);
  line-height: var(--horen-size-xxxl);
  font-size: var(--horen-font-size-md);
}

.primary {
  background-color: var(--horen-color-primary);
}
.secondary {
  background-color: var(--horen-color-secondary);
}
.success {
  background-color: var(--horen-color-success);
}
.warning {
  background-color: var(--horen-color-warning);
}
.dark {
  background-color: var(--horen-color-dark);
}
.light {
  background-color: var(--horen-color-gray-2);
  color: var(--horen-color-dark);
}
.danger {
  background-color: var(--horen-color-danger);
}
.line {
  border: 1px solid var(--horen-color-dark);
  color: var(--horen-color-dark);
  background-color: var(--horen-color-white);
}