@import "../../styles/size.less";

@topHeight: 48px;
@leftWidth: 188px;

.domo {
  padding: @gap;
  margin: 0;
  height: 100vh;
}

.top {
  width: 100%;
  height: @topHeight;
  background-color: #fff;
  margin: 0;
  padding: 0 48px 0 16px; 
  border-radius: @borderRadius;
  display: flex;
  align-items: center;
}

.loginArea {
  margin: 0 8px;
}

.main {
  display: flex;
  height: calc(100vh - @topHeight - @gap * 2);
}

.left {
  background-color: #fff;
  margin: @gap @gap 0 0;
  border-radius: @borderRadius;
  width: @leftWidth;
  height: calc(100% - @gap);
  backdrop-filter: blur(20px);
}

.right {
  background-color: #fff;
  margin: @gap 0 @gap 0;
  padding: 32px 48px;
  border-radius: @borderRadius;
  width: calc(100vw - @leftWidth - @gap * 3);
  height: calc(100% - @gap);
  backdrop-filter: blur(20px);
}