.invitation {
  height: calc(100vh - 240px);
}

.operate {
  margin-bottom: 16px;
}

.codeList {
  height: 100%;
  overflow-y: auto;
}

.codeItem {
  padding: 8px 16px 8px 0;
  display: flex;
  align-items: center;
}

.codeItem:hover {
  background-color: #f1f2f3;
}

.status {
  margin-right: 16px;
  position: relative;
  top: 2px;
}

.code {
  width: 280px;
}

.registerByIcon {
  position: relative;
  top: 2px;
  margin-left: 16px;
  margin-right: 8px;
}

.registerBy {
  font-weight: 200;
  font-size: 16px;
}