@height: 1.6rem;
@width: 3.1rem;
@gap: 3px;
@trackSize: calc(@height - @gap * 2);

.switch {
  display: inline-block;
  position: relative;
  height: @height;
  width: @width;
  border-radius: calc(@height * 0.5);
  -webkit-user-select: none;
  user-select: none;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  > span {
    display: inline-block;
    position: absolute;
    top: @gap;
    height: @trackSize;
    width: @trackSize;
    border-radius: inherit;
    background-color: var(--horen-color-primary);
  }
}

.on {
  background-color: var(--horen-color-primary);
  box-shadow: rgba(204, 219, 232, 0.2) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.1) -3px -3px 6px 1px inset;
  > span {
    left: calc(@width - @trackSize - @gap);
    background-color: var(--horen-color-background);
    animation: move 0.3s;
  }
}

.off {
  background-color: var(--horen-color-background-secondary);
  box-shadow: rgb(202, 215, 226) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
  > span {
    left: @gap;
    animation: back 0.3s;
  }
}

@keyframes move {
  from {
    width: @trackSize;
    left: @gap;
  }
  20% {
    width: 2rem;
  }
  to {
    width: @trackSize;
    left: calc(@width - @trackSize - @gap);
  }
}

@keyframes back {
  from {
    width: @trackSize;
    left: calc(@width - @trackSize - @gap);
  }
  50% {
    width: 2rem;
  }
  to {
    width: @trackSize;
    left: @gap;
  }
}