/* base colors */
@red: #e74c3c;
@red-deep: #c0392b;

@orange: #e67e22;
@orange-deep: #d35400;

@yellow: #f1c40f;
@yellow-deep: #f39c12;

@green: #2ecc71;
@green-deep: #27ae60;

@teal: #1abc9c;
@teal-deep: #16a085;

@blue: #3498db;
@blue-shallow: #3c9dde;
@blue-deep: #2980b9;

@purple: #9b59b6;
@purple-deep: #8e44ad;

@white: #ffffff;
@white-deep: #d1d1d1;

@grey: #95a5a6;
@grey-deep: #7f8c8d;

@black: #282626;
@black-shallow: #575757;

/** theme colors */
@primary: @blue;

@secondary: @orange;

@success: @green;

@warning: @yellow;

@danger: @red;

@info: @grey;
