:root {
  /* zindex */
  --horen-z-index-popover: 100;
  /* */
  --horen-size-xs: 0.75rem;
  --horen-size-sm: 0.875rem;
  --horen-size-md: 1rem;
  --horen-size-lg: 1.25rem;
  --horen-size-xl: 1.5rem;
  --horen-size-xxl: 2rem;
  --horen-size-xxxl: 2.5rem;
  /* background color */
  --horen-color-background: #fff;
  --horen-color-background-secondary: #d4d8dc;
  --horen-color-background-tertiary: #a7acb1;
  /* text color */
  --horen-color-text: #111;
  --horen-color-text-secondary: #343131;
  --horen-color-text-tertiary: #6e6868;
  /* base color */
  --horen-color-primary: #091128;
  --horen-color-secondary: #1c4094;
  --horen-color-success: #27ae60;
  --horen-color-warning: #f39c12;
  --horen-color-danger: #c0392b;
  --horen-color-white: #fff;
  --horen-color-dark: #000;
  /* more color */
  --horen-color-gray-0: #f8f9fa;
  --horen-color-gray-1: #f1f3f5;
  --horen-color-gray-2: #e9ecef;
  --horen-color-gray-3: #dee2e6;
  --horen-color-gray-4: #ced4da;
  --horen-color-gray-5: #adb5bd;
  --horen-color-gray-6: #868e96;
  --horen-color-gray-7: #495057;
  --horen-color-gray-8: #343a40;
  --horen-color-gray-9: #212529;
  /* border radius */
  --horen-radius-xs: 0.125rem;
  --horen-radius-sm: 0.25rem;
  --horen-radius-md: 0.5rem;
  --horen-radius-lg: 0.70rem;
  --horen-radius-xl: 1rem;
  --horen-radius-xxl: 1.5rem;
  /* shadow */
  /* font size */
  --horen-font-size-xs: 0.75rem;
  --horen-font-size-sm: 0.875rem;
  --horen-font-size-md: 1rem;
  --horen-font-size-lg: 1.125rem;
  --horen-font-size-xl: 1.25rem;
  /* line height */
  --horen-line-height-xs: 1.4;
  --horen-line-height-sm: 1.45;
  --horen-line-height-md: 1.55;
  --horen-line-height: 1.55;
  --horen-line-height-lg: 1.6;
  --horen-line-height-xl: 1.65;
  /* font weight */
  --horen-font-weight-slimer: 200;
  --horen-font-weight-slim: 300;
  --horen-font-weight-normal: 400;
  --horen-font-weight: 400;
  --horen-font-weight-bold: 600;
  --horen-font-weight-bolder: 700;
  /* gap */
  --horen-gap-xs: 0.125rem;
  --horen-gap-sm: 0.25rem;
  --horen-gap-md: 0.5rem;
  --horen-gap-lg: 0.75rem;
  --horen-gap-xl: 1rem;
  --horen-gap-xxl: 1.5rem;
  /* duration */
  --horen-duration-faster: 0.1s;
  --horen-duration-fast: 0.2s;
  --horen-duration-normal: 0.3s;
  --horen-duration-slow: 0.5s;
  --horen-duration-slower: 0.8s;
  /** shadow */
  --horen-shadow-1: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

:root[data-theme="dark"] {
  --horen-color-background: #141517;
  --horen-color-background-secondary: #2b2c2d;
  --horen-color-background-tertiary: #54565b;
  /* text color */
  --horen-color-text: #d6d0d0;
  --horen-color-text-secondary: #777;
  --horen-color-text-tertiary: #5b5454;
}

body {
  font-size: 16px;
  font-family: "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}
