.editPost {
  display: flex;
}

.left {
  width: 800px;
  display: inline-block;
  text-align: left;
}

.right {
  display: inline-block;
  margin-left: 16px;
}

.editorContainer {
  display: block;
}

.editItem {
  margin: 8px 0;
  display: flex;
  align-items: center;
}

.itemLabel {
  display: inline-block;
  width: 64px;
  font-weight: 300;
  font-size: 0.9rem;
  color: #515352;
}

.itemContent {
  width: 200px;
}

.submitArea {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 32px 0;
  button:nth-child(2) {
    margin-left: 16px;
  }
}