.tag {
  padding: 2px 8px;
  margin: 0 2px;
  color: var(--horen-color-white);
  font-size: var(--horen-font-size-xs);
  font-weight: var(--horen-font-weight-slim);
  background-color: var(--horen-color-primary);
}
