.tag {
  margin: 0 2px;
  color: var(--horen-color-white);
  
  font-weight: var(--horen-font-weight-slim);
  background-color: var(--horen-color-primary);
}

.sm {
  padding: 2px 8px;
  font-size: var(--horen-font-size-xs);
}

.md {
  padding: 4px 8px;
  font-size: var(--horen-font-size-sm);
}
