.verse-edit {
  padding: 8px 16px;
}

.verse-edit .verse-edit-item {
  margin: 8px;
}

.verse-edit .verse-edit-item .item-label {
  font-weight: 300;
  margin-right: 8px;
  width: 48px;
  display: inline-block;
  text-align: justify;
  text-align-last: justify;
}

.verse-edit .verse-edit-item input {
  border: 1px solid #777;
}

.verse-edit .verse-edit-item input:focus {
  outline: none;
  border: 1px solid #1781b5;
}

.verse-add-one {
  text-align: center;
  margin: 16px;
  display: none;
}

.verse-add-one button {
  width: 200px;
}

#submit-verse {
  text-align: center;
  margin-top: 24px;
}

#submit-verse button {
  width: 180px;
  height: 38px;
  padding: 8px 0;
}

.verse-item {
  display: flex;
  align-items: center;
  padding: 8px 16px;
}

.verse-item:hover {
  background-color: #f1f1f1;
}

.verse-item-content {

}

.verse-item-author {
  font-weight: 300;
}

.verse-item-edit,.verse-item-delete {
  margin-right: 8px;
  display: flex;
  align-items: center;
}

.verse-item-edit,.verse-item-delete span {
  position: relative;
  top: 2px;
}

.verse-item-delete {
  margin-right: 28px;
}