.componentPage {
  padding: 8px 16px;
}

.componentDesc {
  margin: 8px 0 28px 0;
}

.componentSubtitle {
  margin: 8px 0;
}

.componentSubtitle span:nth-child(1) {
  display: inline-block;
  width: 100px;
  color: #999;
}

.componentUsage span:nth-child(1) {
  display: inline-block;
  width: 100px;
  color: #999;
}

.componentUsage code {
  background-color: #f1f2f3;
  border: 1px solid #aaa;
  padding: 4px 8px;
  font-size: 0.9rem;
  font-family: Menlo, Monaco, ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
}

.playground {
  background-color: #dfdfdf;
  padding: 32px 24px;
  margin: 8px 0;
  border: 1px solid #c1c2c3;
}

.playgroundGroup {
  margin: 8px 0;
}