@import "../colors.less";
@import "../size.less";

.notification {
  display: inline-block;
  padding: @middleGap 20px @middleGap 16px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: @normalRadius;
  margin: @normalGap 0;
}

.info {
  background-color: @primary;
  color: @white;
}

.success {
  background-color: @success;
  color: @white;
}

.warning {
  background-color: @warning;
  color: @white;
}

.error {
  background-color: @danger;
  color: @white;
}

.icon {
  display: inline-block;
  vertical-align: middle;
  margin-right: 12px;
}

.title {
  margin: 0 0 4px 0;
}

.right {
  display: inline-block;
  vertical-align: middle;
}

.message {
  font-size: @normalFontSize;
  font-weight: 300;
}