@import "../colors.less";

.horenInput {
  padding: 0 12px;
  border: 1px solid @white-deep;
  border-radius: 3px;
  height: 1.8rem;
  &:focus,&:hover {
    outline: none;
    border-color: @primary;
  }
}
