@import "./Input.module.less";

.numberInput {
  display: inline-block;
  border: 1px solid var(--horen-color-text-tertiary);
  border-radius: var(--horen-radius-xl);
  padding: 0;
  &:focus {
    outline: none;
    border-color: var(--horen-color-primary);
  }
  > span {
    display: inline-block;
    vertical-align: middle;
  }
  > span:nth-child(1) {
    height: 100%;
    min-height: var(--horen-size-lg);
    line-height: var(--horen-size-xl);
  }
  input {
    border: none;
    display: inline-block;
    height: 100%;
    padding: 0;
    padding-left: var(--horen-gap-md);
    margin: 0;
    margin-left: var(--horen-gap-md);
    line-height: 100%;
    outline: none;
  }
}

.inputArrow {
  display: inline-block;
  div {
    display: flex;
    height: calc(var(--horen-size-md) - 1px);
    width: var(--horen-size-lg);
    justify-content: start;
    align-items: center;
    padding-left: var(--horen-gap-sm);
    cursor: pointer;
    transition: 0.3s all ease-in-out;
    -webkit-user-select: none;
    user-select: none;
    border-left: 1px solid var(--horen-color-text-tertiary);
    &:hover {
      background-color: var(--horen-color-background-secondary);
    }
  }
  div:nth-child(1) {
    border-top-right-radius: var(--horen-radius-xl);
  }
  div:nth-child(2) {
    height: calc(var(--horen-size-md));
    border-bottom-right-radius: var(--horen-radius-xl);
    border-top: 1px solid var(--horen-color-text-tertiary);
  }
}