.numberInput {
  position: relative;
}

.inputArrow {
  display: inline-block;
  position: absolute;
  right: -25px;
  height: var(--horen-size-md);
  top: -5px;
  div {
    display: flex;
    height: calc(var(--horen-size-md) - 1px);
    width: var(--horen-size-lg);
    justify-content: start;
    align-items: center;
    padding-left: var(--horen-gap-sm);
    cursor: pointer;
    transition: 0.3s all ease-in-out;
    -webkit-user-select: none;
    user-select: none;
    border-left: 1px solid var(--horen-color-text-tertiary);
    &:hover {
      background-color: var(--horen-color-background-secondary);
    }
  }
  div:nth-child(1) {
    border-top-right-radius: var(--horen-radius-xl);
  }
  div:nth-child(2) {
    height: calc(var(--horen-size-md));
    border-bottom-right-radius: var(--horen-radius-xl);
    border-top: 1px solid var(--horen-color-text-tertiary);
  }
}