@import "../colors.less";
@import "../size.less";

.wrapper {
  > span {
    display: inline-block;
    width: 100%;
  }
}

.tagInput {
  outline: none;
  border: 1px solid @gray-7;
  border-radius: @normalRadius;
  padding: 0 @normalGap;
  display: flex;
  flex-wrap: wrap;
}

.tagItem {
  display: inline-block;
}

.label {
  display: inline-block;
  vertical-align: top;
  position: relative;
  top: 8px;
  margin-right: 8px;
  color: #777;
  font-size: 0.9rem;
  font-weight: 300;
}

.labelTop {
  width: 100%;
  position: static;
  margin-bottom: 8px;
}

.inputArea {
  outline: none;
  text-align: left;
  display: inline-block;
  flex-grow: 1;
  height: 30px;
  line-height: 30px;
}

.close {
  -webkit-user-select: none;
  user-select: none;
  margin-left: 4px;
  cursor: pointer;
  &:hover {
    color: var(--horen-color-dark);
  }
}