@import "../colors.less";
@import "../size.less";

.tagInput {
  outline: none;
  border: 1px solid @gray-7;
  height: @normalHeight;
  line-height: @normalHeight;
  border-radius: @normalRadius;
  padding: 0 @normalGap;
  display: flex;
  align-items: center;
}

.input {
  flex-grow: 1;
  outline: none;
  text-align: left;
}

.close {
  -webkit-user-select: none;
  user-select: none;
}