@import "../colors.less";
@import "../size.less";

.wrapper {
  display: flex;
  align-items: center;
  > span {
    display: inline-block;
    vertical-align: middle;
  }
  > span:nth-child(2) {
    flex-grow: 1;
  }
}

.tagInput {
  outline: none;
  border: 1px solid var(--horen-color-gray-4);
  border-radius: @normalRadius;
  padding: 0 @normalGap;
  display: flex;
  flex-wrap: wrap;
  min-height: 28px;
}

.tagItem {
  display: flex;
  align-items: center;
  margin: 2px 0;
}

.label {
  display: inline-block;
  vertical-align: top;
  margin-right: 8px;
  color: #777;
  font-size: 0.9rem;
  font-weight: 300;
}

.labelTop {
  width: 100%;
  position: static;
  margin-bottom: 8px;
}

.inputArea {
  outline: none;
  text-align: left;
  display: inline-block;
  flex-grow: 1;
  min-height: 24px;
  line-height: 24px;
}

.close {
  -webkit-user-select: none;
  user-select: none;
  margin-left: 4px;
  cursor: pointer;
  &:hover {
    color: var(--horen-color-dark);
  }
}