@import "../colors.less";
@import "../size.less";

@height: @normalHeight;
@gap: @xSmallGap;

.segment {
  padding: @gap @gap;
  display: inline-block;
  background-color: @gray-3;
  border-radius: @normalRadius;
  position: relative;
  height: @height;
  box-sizing: border-box;
}

.track {
  display: block;
  position: absolute;
  top: @xSmallGap;
  transition-property: left, width;
  transition-duration: @xSmallDuration;
  transition-timing-function: ease-in-out;
  border-radius: @smallRadius;
  z-index: 0;
}

.itemsContainer {
  display: flex;
  justify-content: space-around;
}

.segmentItem {
  padding: 0 @middleGap;
  display: inline-block;
  -webkit-user-select: none;
  user-select: none;
  background-color: transparent;
  position: relative;
  height: calc(@height - @gap * 2);
  line-height: calc(@height - @gap * 2);
  z-index: 1;
  color: @dark;
  text-align: center;
}
