.select {
  -webkit-user-select: none;
  user-select: none;
  display: inline-block;
  width: 100%;
}

.target {
  display: inline-block;
  border: 1px solid var(--horen-color-text-tertiary);
  border-radius: var(--horen-radius-xxl);
  text-align: left;
  cursor: pointer;
  &:hover {
    border-color: var(--horen-color-secondary);
  }
  > div {
    min-height: var(--horen-size-md);
    min-width: 160px;
    width: 100%;
    padding: var(--horen-gap-md) var(--horen-gap-xl);
    display: flex;
    align-items: center;
    > div:nth-child(1) {
      flex-grow: 1;
      line-height: var(--horen-size-md);
    }
  }
}

.content {
  width: 100%;
  padding: var(--horen-gap-lg) 0;
}

.selectItem {
  min-width: 160px;
  padding: var(--horen-gap-md) var(--horen-gap-xl);
  cursor: pointer;
  &:hover {
    background-color: var(--horen-color-background-secondary);
  }
}